In [44]:
class numbers:
    def __init__(self, n):
        self.n = n 
    def __iter__(self):
        self.a = 1  
        return self
    def __next__(self):
        if self.a <= self.n:  
            x = self.a ** 2  
            self.a += 1
            return x
        else:
            raise StopIteration

n = int(input("number: "))
a = numbers(n)
iterat = iter(a)

for x in iterat:
    print(x)

number:  5

1
4
9
16
25

In [46]:
class numbers:
    def __init__(self, n):
        self.n = n 
    def __iter__(self):
        self.a = 0  
        return self
    def __next__(self):
        if self.a <= self.n:  
            x = self.a  
            self.a += 1
            return x
        else:
            raise StopIteration

n = int(input("number: "))
a = numbers(n)
iterat = iter(a)

res = ""
for x in iterat:
    if (x%2==0) and (x==n or x==n-1):
        res+=str(x)
    elif (x%2==0) and (x!=n):
        res+=str(x)+ "," 
print(res)

number:  10

0,2,4,6,8,10

In [48]:
class numbers:
    def __init__(self, n):
        self.n = n 
    def __iter__(self):
        self.a = 1  
        return self
    def __next__(self):
        if self.a <= self.n:  
            x = self.a  
            self.a += 1
            return x
        else:
            raise StopIteration

n = int(input("number: "))
a = numbers(n)
iterat = iter(a)

for x in iterat:
    if (x%3 ==0 and x%4 ==0):
        print(x)

number:  50

12
24
36
48

In [50]:
class numbers:
    def __init__(self, n, m):
        self.n = n
        self.m = m
    def __iter__(self):
        self.a = n  
        return self
    def __next__(self):
        if self.a <= self.m:  
            x = self.a  
            self.a += 1
            return x**2
        else:
            raise StopIteration

n = int(input("first number: "))
m = int(input("second number: "))
a = numbers(n,m)
iterat = iter(a)

for x in iterat:
    print(x)

first number:  2
second number:  14

4
9
16
25
36
49
64
81
100
121
144
169
196

In [52]:
class numbers:
    def __init__(self, n):
        self.n = n 
    def __iter__(self):
        self.a = 0  
        return self
    def __next__(self):
        if self.a <= self.n:  
            x = self.n  
            self.n -= 1
            return x
        else:
            raise StopIteration


n = int(input("number: "))
a = numbers(n)
iterat = iter(a)

for x in iterat:
    print(x)

number:  10

10
9
8
7
6
5
4
3
2
1
0

In [36]:
import math
def radian(a):
    return a * (math.pi / 180)
    
a = float(input("input degree:"))
r = radian(a)
print(f"in radians: {r:.6f}")

input degree: 15

in radians: 0.261799

In [54]:
import math 
def area(h,plus):
    a = (plus * h)/2
    return a
        
h = float(input("input height:"))
a1 = float(input("first num:"))
a2 = float(input("second num:"))
plus = a1+a2

Area = area(h, plus)  
formatted_Area = f"{Area:.1f}"

print(f"Area of trapezoid is:{formatted_Area} ")

input height: 5
first num: 5
second num: 6

Area of trapezoid is:27.5

In [58]:
from math import tan,pi
def area(s,l):
    a = (s * l**2)/(4 * tan(pi / s))
    return a
        
s = float(input("sides:"))
l = float(input("length:"))

Area = area(s,l)  
formatted_Area = f"{Area:.0f}"
print(f"Area is:{formatted_Area} ")

sides: 4
length: 25

Area is:625

In [60]:
import math
def area(h,l):
    a = h*l
    return a
        
h = float(input("height:"))
l = float(input("length:"))
print(f"Area is: {area(h,l):.1f}")

height: 5
length: 6

Area is: 30.0

In [62]:
from datetime import date,timedelta

t= date.today()
new= t-timedelta(days=5)
print("now:", t)
print("5 days ago:", new)

now: 2025-02-19
5 days ago: 2025-02-14

In [64]:
from datetime import date, timedelta

t= date.today()
y= t-timedelta(days=1)
tommorow = t+timedelta(days=1)

print("now:", t)
print("yesterday:", y)
print("tommorow:", tommorow)

now: 2025-02-19
yesterday: 2025-02-18
tommorow: 2025-02-20

In [66]:
from datetime import datetime

def microseconds():
    now = datetime.now()
    m = now.replace(microsecond=0)
    return m

print("now:", datetime.now())
print("without microseconds:", microseconds())

now: 2025-02-19 12:56:18.763519
without microseconds: 2025-02-19 12:56:18

In [80]:
from datetime import datetime

a1 = input()
a2 = input()
date1 = datetime.strptime(a1, "%x")
date2 = datetime.strptime(a2, "%x")

difference = abs((date2 - date1).total_seconds())
print(int(difference))

 02/13/24
 05/03/24

6912000

In [9]:
import json

with open(r"C:\Users\akalb\Downloads\sample-data.json") as file:
    data = json.load(file)

print("Interface Status")
print("=" * 80)
print(f"{'DN':<50} {'Description':<20} {'Speed':<7} {'MTU':<5}")
print("-" * 80)

for item in data["imdata"]:
    attr = item["l1PhysIf"]["attributes"]
    dn = attr["dn"]
    speed = attr["speed"]
    mtu = attr["mtu"]
    print(f"{dn:<50} {'':<20} {speed:<7} {mtu:<5}")

Interface Status
================================================================================
DN                                                 Description          Speed   MTU
--------------------------------------------------------------------------------
topology/pod-1/node-201/sys/phys-[eth1/33]                              inherit 9150
topology/pod-1/node-201/sys/phys-[eth1/34]                              inherit 9150
topology/pod-1/node-201/sys/phys-[eth1/35]                              inherit 9150
topology/pod-1/node-201/sys/phys-[eth1/36]                              inherit 9150
topology/pod-1/node-201/sys/phys-[eth1/1]                               inherit 9150
topology/pod-1/node-201/sys/phys-[eth1/2]                               inherit 9150
topology/pod-1/node-201/sys/phys-[eth1/3]                               inherit 9150
topology/pod-1/node-201/sys/phys-[eth1/4]                               inherit 9150
topology/pod-1/node-201/sys/phys-[eth1/5]                               inherit 9150
topology/pod-1/node-201/sys/phys-[eth1/6]                               inherit 9150
topology/pod-1/node-201/sys/phys-[eth1/7]                               inherit 9150
topology/pod-1/node-201/sys/phys-[eth1/8]                               inherit 9150
topology/pod-1/node-201/sys/phys-[eth1/9]                               inherit 9150
topology/pod-1/node-201/sys/phys-[eth1/10]                              inherit 9150
topology/pod-1/node-201/sys/phys-[eth1/11]                              inherit 9150
topology/pod-1/node-201/sys/phys-[eth1/12]                              inherit 9150
topology/pod-1/node-201/sys/phys-[eth1/13]                              inherit 9150
topology/pod-1/node-201/sys/phys-[eth1/14]                              inherit 9150